.match-card-item {
  background-color: #0f172a;
  width: 47%;
  height: 300px;
  padding: 20px 15px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media (min-width: 576px) {
  .match-card-item {
    width: 30%;
    height: 340px;
    border-radius: 16px;
  }
}
@media (min-width: 768px) {
  .match-card-item {
    width: 30%;
    height: 380px;
    border-radius: 16px;
  }
}
.match-card-logo {
  width: 55px;
  height: 55px;
}

@media (min-width: 576px) {
  .match-card-logo {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 768px) {
  .match-card-logo {
    width: 110px;
    height: 110px;
  }
}
.match-card-competing-team-name {
  margin: 0;
  font-size: 18px;
}
@media (min-width: 576px) {
  .match-card-competing-team-name {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .match-card-competing-team-name {
    font-size: 22px;
  }
}
.match-card-result {
  margin: 0;
  font-size: 14px;
}
@media (min-width: 576px) {
  .match-card-result {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .match-card-result {
    font-size: 16px;
  }
}
.match-status {
  margin: 0;
  font-size: 17px;
}
@media (min-width: 576px) {
  .match-status {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .match-status {
    font-size: 19px;
  }
}
.win-status {
  color: #18ed66;
}
.lost-status {
  color: #e31a1a;
}

* {
  /* border: 1px solid white; */
}
